<body class="bodyBackground">
<h1>Editing recipe</h1>

<%= render "form", recipe: @recipe %>

<br>

<div>
  <%= link_to "Show this recipe", recipe_history_recipe_path %> |
  <%= link_to "Back to recipes", recipe_history_recipes_path %>
</div>
<body>