<h1>Editing Culinary Chronicles</h1>

<%= render "form", recipe_history: @recipe_history %>

<br>

<div>
  <%= link_to "Show this Culinary Chronicles", @recipe_history %> |
  <%= link_to "Back to Culinary Chronicles", recipe_histories_path %>
</div>
