<h1>Editing recipe history</h1>

<%= render "form", recipe_history: @recipe_history %>

<br>

<div>
  <%= link_to "Show this recipe history", @recipe_history %> |
  <%= link_to "Back to recipe histories", recipe_histories_path %>
</div>
