<h1>Culinary Chronicles</h1>
<body class="bodyBackground">
<div id="recipe_histories">
  <% @recipe_histories.each do |recipe_history| %>
    <p>
      <%= link_to "Show my previous work!", recipe_history%>
    </p>
  <% end %>
</div>
</body>
