<h1>Recipe History</h1>
<body class="bodyBackground">
<div id="recipe_histories">
  <% @recipe_histories.each do |recipe_history| %>
    
    <p>
      <%= link_to "Show this recipe history", recipe_history %>
    </p>
  <% end %>
</div>
</body>
